[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "LexisNexisTools"]
	path = LexisNexisTools
	url = https://github.com/jbgruber/lexisnexistools
[submodule "askgpt"]
	path = askgpt
	url = https://github.com/jbgruber/askgpt
[submodule "atrrr"]
	path = atrrr
	url = https://github.com/jbgruber/atrrr
[submodule "cookiemonster"]
	path = cookiemonster
	url = https://github.com/jbgruber/cookiemonster
[submodule "libipldr"]
	path = libipldr
	url = https://github.com/JBGruber/libipldr
	registered = false
[submodule "rollama"]
	path = rollama
	url = https://github.com/jbgruber/rollama
[submodule "rwhatsapp"]
	path = rwhatsapp
	url = https://github.com/jbgruber/rwhatsapp
[submodule "traktok"]
	path = traktok
	url = https://github.com/jbgruber/traktok
